<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-button>
      <ion-title>Aksharamala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  
<div style="margin-top: 15px;"> </div>
  <ion-card *ngFor="let co of course.lesson_info">
    <!-- <img src="https://www.maralika.org/{{co.co_cover_image}}"/> -->
    <ion-card-header>
      <ion-card-title>{{co.co_section_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p (click)="lessons_course(co.ls_id)"
    [routerLink]="['/co.co_title.toLowerCase()', co.ls_id]">
      {{co.co_section_intro}}
    </p>
  </ion-card-content>
  </ion-card>
</ion-content>
