
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Saved Courses</ion-title>
  </ion-toolbar>
 
</ion-header>


<ion-content>
  <ion-card>
    <img src="assets/images/itj_mobile_banner_new.jpg" />
    <ion-card-header>
      <ion-card-title>Course Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="tertiary" routerLink="">Start Course</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/images/itj_mobile_banner_new.jpg" />
    <ion-card-header>
      <ion-card-title>Course Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="tertiary">Start Course</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/images/itj_mobile_banner_new.jpg" />
    <ion-card-header>
      <ion-card-title>Course Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="tertiary">Start Course</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
