<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-button>
      <ion-title>SWADHYAYA MCQS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let co of course.lesson_info">
    <!-- <img src="https://www.maralika.org/{{co.co_cover_image}}"/> -->
    <ion-card-header>
      <ion-card-title>{{co.co_section_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p>
      {{co.co_section_intro}}
    </p>
  </ion-card-content>
  </ion-card>
</ion-content>
