
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Course view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/itj_mobile_banner_new.jpg" />
    <ion-card-header>
      <ion-card-title color="primary">Course title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Course short desc    </ion-card-content>
    <ion-list>
      <ion-item-group>

        <ion-item-divider color="primary">
          <ion-label>About Course</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-text>
            <!-- <div [innerHTML]="about"></div> -->
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est esse doloribus beatae ducimus maxime, natus vel similique recusandae rerum assumenda pariatur ad sequi aperiam quibusdam mollitia, eum sed debitis incidunt.
          </ion-text>
        </ion-item>

        <ion-item-divider color="primary">
          <ion-label>What student learn</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-text> <!-- <div [innerHTML]="learn"></div> -->
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est esse doloribus beatae ducimus maxime, natus vel similique recusandae rerum assumenda pariatur ad sequi aperiam quibusdam mollitia, eum sed debitis incidunt.

          </ion-text>
        </ion-item>


        <ion-item-divider color="primary">
          <ion-label>Table of Contents</ion-label>
        </ion-item-divider>

        <ion-item  [routerLink]="">
          <ion-label >Course title 1 ( course short desc)</ion-label>
        </ion-item>

        <ion-item  [routerLink]="">
          <ion-label >Course title 2 ( course short desc)</ion-label>
        </ion-item>

        <ion-item  [routerLink]="">
          <ion-label >Course title 3 ( course short desc)</ion-label>
        </ion-item>



        <ion-item-divider color="primary">
          <ion-label>Top Courses
          </ion-label>
        </ion-item-divider>
        <ion-slides pager="true" >
          <ion-slide>
            <ion-card>
              <img src="assets/images/itj_mobile_banner_new.jpg" />
              <ion-card-header>
                <ion-card-title color="primary">Course Title 1</ion-card-title>
              </ion-card-header>
              </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="assets/images/itj_mobile_banner_new.jpg" />
              <ion-card-header>
                <ion-card-title color="primary">Course Title 2</ion-card-title>
              </ion-card-header>
              </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="assets/images/itj_mobile_banner_new.jpg" />
              <ion-card-header>
                <ion-card-title color="primary">Course Title 3</ion-card-title>
              </ion-card-header>
              </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img src="assets/images/itj_mobile_banner_new.jpg" />
              <ion-card-header>
                <ion-card-title color="primary">Course Title 4</ion-card-title>
              </ion-card-header>
              </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-item-group>
    </ion-list>



  </ion-card>


</ion-content>
