<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/videolessons"></ion-back-button>
    </ion-button>
      <ion-title>Video Lessons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let co of course.lesson_info">
    <!-- <img src="https://www.maralika.org/{{co.co_cover_image}}"/> -->
    <ion-card-header>
      <ion-card-title>{{co.co_section_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <p (click)="lessonDetails()">
      {{co.co_section_intro}}
    </p>
  </ion-card-content>
  </ion-card>

</ion-content>
