
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lesson Title</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title size="small">Lesson Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-title color="primary">Lesson Name ( Reading material )</ion-card-title>
    </ion-card-header>
     <ion-card-content><!--<div [innerHTML]="read_content"></div> -->

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat doloribus, illum id sequi voluptates sint mollitia optio maiores, esse error fugiat aliquam! Quidem earum aperiam dolorum repellendus dicta vel ullam?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident fugit necessitatibus voluptate, ratione esse animi eaque a sequi numquam, perferendis consequuntur minima dolorum ducimus? Iusto veniam maiores rerum fugit accusantium.
      </p>
      </ion-card-content>
   </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Exam name ( practice lesson)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <div [innerHTML]="examContent"></div> --> exam intro
    </ion-card-content>

    <ion-card-content>
      <ion-button color="primary" size="large" [routerLink]="">Click to start test</ion-button>
    </ion-card-content>

  </ion-card>


  <ion-card >
    <ion-card-header>
      <ion-card-title color="primary">Lesson name ( audio )</ion-card-title>
    </ion-card-header>
    <ion-card-content><audio controls=""><source src="https://www.maralika.org/Course/documents/alphabet_112.mp4" type="audio/ogg">  </audio>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Lesson name ( video type)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video width="400" height="240" controls>
        <source src="https://www.maralika.org/Course/documents/About_Family1.mp4" type="video/mp4">
      </video>
    </ion-card-content>
  </ion-card>


  <ion-card >
    <ion-card-header>
      <ion-card-title color="primary">Lesson name ( Multi audio )</ion-card-title>
    </ion-card-header>
    <ion-item-divider>        </ion-item-divider>

    <ion-card-content >
      <ion-card-title >    <img src="assets/images/itj_mobile_banner_new.jpg" style="max-width: 20%;">
      </ion-card-title>

      <audio controls=""><source src="https://www.maralika.org/Course/documents/alphabet_113.mp4" type="audio/ogg">  </audio>
        <ion-item-divider>        </ion-item-divider>
    </ion-card-content>


    <ion-card-content>
     
      <audio controls=""><source src="https://www.maralika.org/Course/documents/alphabet_113.mp4" type="audio/ogg">  </audio>
        <ion-item-divider>        </ion-item-divider>
    </ion-card-content>

    <ion-card-content>

      <audio controls=""><source src="https://www.maralika.org/Course/documents/alphabet_113.mp4" type="audio/ogg">  </audio>
        <ion-item-divider>        </ion-item-divider>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Lesson Name ( Multi video )</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <video width="400" height="240" controls>
        <source src="https://www.maralika.org/Course/documents/About_Family1.mp4" type="video/mp4">
      </video>
    </ion-card-content>
  </ion-card>


</ion-content>

