<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menuId="first"></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>  
  
  <ion-row class="dashboard_div vertical-align-content" style="background-image: url('assets/images/itj_mobile_banner_new.jpg');width: 100%;">
  <ion-row style="width: 100%;padding-top: 70px;">
    <ion-title class="ion-text-center" style="font-weight: 600;">
      Search Course
    </ion-title>
    <ion-title class="ion-text-center" style="font-weight: 300;font-size: 16px;">
      Find Your Course  
    </ion-title>
  </ion-row>
</ion-row>

<div style="margin-top: 15px;"> </div>

  <ion-card>
    <img src="assets/images/itj_mobile_banner_new.jpg" />
    <ion-card-header>
      <ion-card-title>Course Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="tertiary" routerLink='/dashboard'>Start Course</ion-button>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngFor="let co of course" [routerLink]="['/home', 'course-view',  co.co_id]">
    <img src="https://www.maralika.org/{{co.co_cover_image}}"/>
    <ion-card-header>
      <ion-card-title>{{co.co_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-button>
      {{co.co_short_desc}}
    </ion-button>
  </ion-card-content>
  </ion-card>
</ion-content>
